<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Tahu Search</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
</head>

  <body class="centered">
    <h2>Tentang</h2>
    <h2>Tahu Search</h2>
    <h4>Tahu Search adalah website search engine sederhana yang dibuat untuk menyelesaikan tugas akhir mata kuliah Temu Kembali Informasi</h4>
    <h3>Tim Kami</h3>
    <h4>Ahmad Ghozali (20106050036)</h4>
    <h4>M. Avat Riahul Atsar (21106050016)</h4>
    <h4>Nanda Arya Putra (21106050048)</h4>
    <h4>Yazid Azfa Yasa (21106050060)</h4>
    <h4>M. Fathur Alim Ramadhan (21106050072)</h4>
  </body>

</html>