<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Tahu Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  </head>

  <body class="centered-content">
    <header>
      <h1>Tentang Tahu Search</h1>
    </header>
  
    <section class="about-content">
      <h3>Tahu Search adalah website search engine sederhana yang dibuat untuk menyelesaikan tugas akhir mata kuliah Temu Kembali Informasi</h3>
      <br />
      <h3>Tim Kami</h3>
      <ul class="team-members">
        <li>Ahmad Ghozali (20106050036)</li>
        <li>Muhammad Avat Riahul Atsar (21106050016)</li>
        <li>Nanda Arya Putra (21106050048)</li>
        <li>Yazid Azfa Yasa (21106050060)</li>
        <li>Muhammad Fathur Alim Ramadhan (21106050072)</li>
      </ul>
    </section>
  </body>
</html>
