<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Tahu Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}" />
  </head>

  <body>
    <h1>Tentang Tahu Search</h1>
    <h3>Tahu Search adalah website search engine sederhana yang dibuat untuk menyelesaikan tugas akhir mata kuliah Temu Kembali Informasi</h3>
    <br />
    <h3>Tim Kami</h3>
    <p>Ahmad Ghozali (20106050036)</p>
    <p>Muhammad Avat Riahul Atsar (21106050016)</p>
    <p>Nanda Arya Putra (21106050048)</p>
    <p>Yazid Azfa Yasa (21106050060)</p>
    <p>Muhammad Fathur Alim Ramadhan (21106050072)</p>
  </body>
</html>
